@media (min-width: 768px) {
    #webNavMenu {
        display: flex;
    }
    #burgerMenu {
        display: none;
    }
    .featureBck {
        font-size: 3vw;
    }
    .sideArticle {
        font-size: 1vw;
    }
}
@media (min-width: 1024px) {
    .secondaryArticles{
        flex-flow: column;
        margin: 0 20px;
    }
    .hidde {
        visibility: hidden;
        font-size: 0.9vw;
    }
    .previewText:hover .hidde, .bck2:hover .hidde, .bck3:hover .hidde, .bck4:hover .hidde{
        visibility: visible;
    }
}