body {
    font-family: sans-serif;
    background-color: #fff;
    align-content: center;
    text-align: left;
}
.twitter {
    fill:#de004a;
}
.twitter:hover {
    fill: #fe005a;
}
header {
    width: 1100px;
    margin: auto;
}
header p {
    color: #aaa;
}
header h1 {
    font-size: 30pt;
    color: #111
}
header h2 {
    font-weight: 100;
    font-size:22pt;
}
header hr {
    border: 1px solid #ddd;
}
.credits {
    font-size: 11pt;
}
article {
    margin:auto;
    width: 600px;
}
p {
    margin: 20px auto;
}
#video {
    width: 600px;
    margin: 20px auto;
    padding:25px auto;
    height: auto;
    align-content: center;
}
#video p {
    text-align: center;
    font-size: 110%;
}
#video p em {
    font-weight: bold;
    font-style: normal;
}
#video video {
    width: 100%;
    height: auto;
    margin:auto;
}
#titleLink {
    color: #000;
    text-align: left;
    margin:auto;
}
.galleryBar {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 5px 0px;
    margin: 5px 0px;
    width: 100%;
}
.galleryImg {
    display: inline;
    max-width: 10%;
    height: auto;
    margin: 15px;
}
figcaption {
    color: #888;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    border-bottom: 1px solid #de004a
}
article figure {
    width: 100%;
    height: auto;
    margin:auto;
}
#preorder figure img {
    width: 100%;
    height: auto;
    margin:auto;
}
#preorder h2 {
    text-align: 120%;
    margin:auto;
    font-size: xx-large;

}
.preorderLink {
    color: #fff;
    padding:10px;
    border-radius: 5px;
    background-color: #de004a;
    margin:5px auto 5px 0px;
    font-weight: bold;
    width: fit-content;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.preorderLink:hover {
    background-color: #fe005a;
}
a {
    color: #de004a;
    text-decoration: none;
}
a:hover, #titleLink:hover {
    color:#fe005a;
}

footer {
    max-width: 600px;
    margin: auto;
}
.preorderGuidesLink {
    margin: 10px auto;
}
summary {
    font-weight: bold;
    color: #de004a;
    font-size: 11pt;
}
#gameCard {
    padding: 15px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin:50px auto;
}
.gameTitle {
    color: black;
    font-weight: bold;
}
.follow {
    font-weight: bold;
    color:#de004a;
    padding: 5px;
    border: 1px solid #de004a;
}
.smallText {
    font-size: 11pt;
}
.superSmallText {
    font-size: 7pt;
}
.italic {
    font-style: italic;
}